<div class="card" style="background-image: url(<%= experience.picture.url(:medium)%>);">
  <div class="card-space"></div>
  <span class="card-category bg-<%= experience.category.downcase %>">
    <%= experience.category.capitalize %>
  </span>
  <div class="card-shadow"></div>
  <%= link_to experiences_path() do %>
    <div class="card-content">
      <h1><%= experience.title.capitalize %></h1>
      <p>
        inspiré par <%= experience.user.first_name %>
        <% if experience.user.picture %>
          <%= image_tag experience.user.picture, class: "avatar" %>
        <% end %>
      </p>
    </div>
  <% end %>
</div>
