
<% raise %>
  <%= image_tag 'Woom_logo_white.png' , class: "card-admin-logo" %>
  <span class="card-admin-category bg-<%= experience.category.downcase %>">
    <%= experience.category.capitalize %>
  </span>
  <div class="card-admin-shadow"></div>
  <%= link_to admin_experience_path(experience) do %>
    <div class="card-admin-content">
      <h1><%= experience.title.capitalize %></h1>
      <p>
        <%= link_to "inspiré par " + experience.user.first_name, admin_user_path(experience.user) %>
        <% if experience.user.picture %>
          <%= image_tag experience.user.picture, class: "avatar" %>
        <% end %>
      </p>
    </div>
  <% end %>
  <div class="card-admin-hashtag">#WOom<%= experience.category.capitalize%></div>
</div>
