<div class="footbar bar-fixed">
  <div class="bar-container bar-container-white">
    <%= link_to experiences_path, {class: "bar-link"} do %>
      <div class="icon-btn">
        <%= image_tag "idea.png", {class: "small-icon"} %>
        <div class="icon-btn-text small-text">Trouver des idées</div>
      </div>
    <% end %>
    <%= link_to experiences_path, {class: "bar-link"} do %>
      <div class="icon-btn">
        <%= image_tag "moi.png", {class: "small-icon"} %>
        <div class="icon-btn-text small-text">Moi</div>
      </div>
    <% end %>
    <%= link_to new_experience_path, {class: "bar-link"} do %>
      <div class="icon-btn">
        <%= image_tag "create.png", {class: "small-icon"} %>
        <div class="icon-btn-text small-text">Créer une expérience</div>
      </div>
    <% end %>
  </div>
</div>
