<div class="card-admin" style="background-image: url(<%= experience.picture.url(:medium)%>);">
  <%= image_tag 'Woom_logo_white.png' , class: "card-admin-logo" %>
  <span class="card-admin-category bg-<%= experience.category.downcase %>">
    <%= experience.category.capitalize %>
  </span>
  <div class="card-admin-shadow"></div>
  <%= link_to admin_experience_path(experience) do %>
    <div class="card-admin-content">
      <h1><%= experience.title.capitalize %></h1>
      <%= link_to admin_user_path(experience.user) do %>
        <p>
          inspiré par <%= experience.user.first_name %>
          <% if experience.user.picture %>
            <%= image_tag experience.user.picture, class: "avatar" %>
          <% end %>
        </p>
      <% end %>
    </div>
  <% end %>
  <div class="card-admin-hashtag">#WOom<%= experience.category.capitalize%></div>
</div>
