<div class="topbar topbar-container topbar-absolute">
  <div class="topbar-logo">
    <%= link_to root_path do %>
      <%= image_tag "Woom_logo_white.png" %>
    <% end %>
  </div>
<!--   <div class="topbar-count">
      <%= image_tag "heart.png" %>5
      <%= image_tag "check.png" %>12
  </div> -->
  <% if user_signed_in? %>
  <div class="topbar-item">
    <div class="dropdown">
      <%= image_tag "http://placehold.it/30x30", class: "avatar dropdown-toggle", "data-toggle" => "dropdown" %>
      <ul class="dropdown-menu dropdown-menu-right topbar-dropdown-menu">
        <li>
          <%= link_to destroy_user_session_path, method: :delete do %>
             <i class="fa fa-sign-out"></i> Déconnexion
          <% end %>
        </li>
      </ul>
    </div>
  </div>

  <% else %>
    <div class="topbar-inline-menu">
      <ul class="list-inline">
        <li>
          <%= link_to "inscription", new_user_registration_path, class: "topbar-link" %>
        </li>
        <li><hr></li>
        <li>
          <%= link_to "connexion", new_user_session_path, class: "topbar-link" %>
        </li>
      </ul>
    </div>
  <% end %>
</div>
