<div class="topbar topbar-container topbar-absolute">
  <div class="topbar-logo">
    <%= link_to root_path do %>
      <%= image_tag "Woom_logo_white.png" %>
    <% end %>
  </div>
<!--   <div class="topbar-count">
      <%= image_tag "heart.png" %>5
      <%= image_tag "check.png" %>12
  </div> -->
  <% if user_signed_in? %>
    <div class="dropdown">
      <%= image_tag "http://placehold.it/30x30", class: "avatar dropdown-toggle", id: "topbar-menu", "datatoggle" => "dropdown" %>
      <ul class="dropdown-menu" aria-labelledby="topbar-menu">
        <li>
          <%= link_to "déconnexion", destroy_user_session_path, method: :delete, class: "topbar-link" %>
        </li>
      </ul>
    </div>
  <% else %>
      <hr>
      <%= link_to "inscription", new_user_registration_path, class: "topbar-link" %>
      <hr>
      <%= link_to "connexion", new_user_session_path, class: "topbar-link" %>
  <% end %>
</div>
